<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	 crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
	</script>
	<script src="/assets/js/forze.js">
	</script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand ps-5" href="/"><img width="70%"
                    src="/assets/media/20820a81a70a4bd79f5fa77e1efa5d33.png"></a>
            <div class="pe-5">
              <div class="dropdown" id="dropdownButtonDiv">
                <button class="btn btn-outline-success" type="button" id="loginButton" data-bs-toggle="dropdown" aria-expanded="false" onclick="window.location.replace('/login')">
                  Login
                </button>
                <ul id="unorderedList" class="dropdown-menu d-none" aria-labelledby="loginButton">
                  <li><a class="dropdown-item" href="#" id="myDashboardLink">Dashboard</a></li>
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#myPopUp" href="#">Logout</a></li>
                </ul>
              </div>
            </div>
        </div>
    </nav>

    <!-- INIZIO BODY PRINCIPALE -->
    <div class="d-flex flex-row justify-content-around mt-4">
      <!-- INIZIO SIDEBAR vh-100 -->
      <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white sticky-top" style="width: 380px; height: 85vh">
        <a class="text-center d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none" style="padding-left: 0.25rem!important">
          <span class="text-center fs-5 fw-semibold">Segnalazioni</span>
        </a>
        <!-- INIZIO BARRA RICERCA -->
        <div class="input-group mb-3">
          <input id="searchInput" type="text" class="form-control" placeholder="Ricerca per luogo\specie" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button id="searchButton" class="btn btn-primary form-control-append" type="button" style="margin-left: -2px">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>
        <!-- FINE BARRA RICERCA -->
        <div id="listaSidebar" class="list-group list-group-flush scrollarea" style="max-height: 80vh; margin-bottom: 10px; overflow-y:auto">
          <!-- INIZIO LISTA (ogni <a> è un elemento della lista) -->
          <!-- template 
          <div>
            <a class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong id="titoloAnimale" class="mb-1">Lupo</strong>
                <small id="dataPreview">Data ritrovamento</small>
              </div>
              <div id="luogoPreview" class="col-10 mb-1 small">Luogo ritrovamento</div>
            </a>
          </div>
          -->
          <!-- FINE LISTA -->
        </div>
    
      </div>
      <!-- FINE SIDEBAR -->

      <!-- INIZIO DASHBOARD PER VISUALIZZARE DETTAGLI -->
      <div id="dashboard" class="col-md-7 col-lg-8" style="height: 85vh; overflow-y:auto; padding-left: 5%; visibility: hidden">
        <h4 class="mb-3">Dettagli segnalazione</h4>
        <form class="needs-validation" novalidate="" onsubmit="event.preventDefault();" style="max-width: 55vw;">
          <div class="row g-3">

            <div>
              <input name="id" id="idAnimale" style="visibility: hidden">
            </div>

            <!-- 3 elem organizer -->
            <div class="row align-self-center d-flex flex-column align-items-center">
              
              <!-- colonna a sx -->
              <a href="#" class="img-fluid col-6 align-self-center">
                <img id="nomeImmagine" src="/assets/media/20820a81a70a4bd79f5fa77e1efa5d33.png" data-bs-toggle="modal" data-bs-target="#imgModal" style="height:100%; width:100%" class="align-self-center">
              </a>

            </div>
            <!-- end of 3 elem organizer -->
            
            <div class="col-6">
              <label for="specie" class="form-label">Specie</label>
              <input type="text" class="form-control" id="specie" placeholder="" value="" required="" readonly>
            </div>

            <div class="col-6">
              <label for="numeroEsemplari " class="form-label">Numero esemplari</label>
              <input type="text" class="form-control" id="numeroEsemplari" placeholder="" value="" required="" readonly>
            </div>

            <div class="col-12">
              <label for="data" class="form-label">Data ritrovamento</label>
              <div class="input-group has-validation">
                <input type="text" class="form-control" id="data" required="" readonly>
              </div>
            </div>

            <div class="col-12">
              <label for="luogo" class="form-label">Luogo ritrovamento</label>
              <input type="text" class="form-control" id="luogo" placeholder="" readonly>
            </div>

            <div class="col-12">
              <label for="mappaDiv" class="form-label">Mappa</label>
              <div id="mappaDiv" style="height: 50vh"></div>
            </div>

            <div class="col-12" id="divDettagliSegnalazione" style="display: none">
              <label for="dettagliSegnalazione" class="form-label">Dettagli segnalazione</label>
              <input type="text" class="form-control" id="dettagliSegnalazione" placeholder="">
              <button id="confermaButton" class="btn btn-primary btn-md center-block" style="width: 100; margin-top: 15px">Chiudi segnalazione</button>
            </div>

          </div>

          <hr class="my-4">

          <div class="row">
            <div class=" col-sm-12 text-center">
              <div id="divPulsanti">
                <button id="btnSearch" class="btn btn-primary btn-md center-block" Style="width: 100;" onclick="buttonListenerFunction('risolta')" >Risolto</button>
                <button id="btnClear" class="btn btn-danger btn-md center-block" Style="width: 100;" onclick="buttonListenerFunction('nonRisolta')">Non risolvibile</button>
              </div>
            </div>
          </div>
        </form>
        <!-- modal per foto -->
        <div class="modal fade" id="imgModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-body">
                <img id='immagineAnimaleModal' src="/assets/media/20820a81a70a4bd79f5fa77e1efa5d33.png" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- FINE DASHBOARD -->
      
    </div>
    <!-- FINE BODY PRINCIPALE -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="/assets/js/customScripts.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <script src="https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"></script>
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <script>
      $(window).on("load", function(){
        customOnload();
        customOnLoadForze();
      })
    </script>
</body>

</html>