<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	 crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
	</script>
	<script src="/assets/js/customScripts.js">

	</script>
	<script>
		window.onload = customOnload
	</script>
  <link rel="stylesheet" href="/assets/css/segnalazioni.css">
</head>

<body>
<!-- NavBar !-->

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand ps-5" href="/"><img width="70%"
                    src="/assets/media/20820a81a70a4bd79f5fa77e1efa5d33.png"></a> </div></nav>


<!-- Form di sinistra per vedere segnalazione !-->
<div class="container-left">
  <h3> Controlla la tua segnalazione!</h3>
<form action="" method="">
  <div class="form-group">
    <label>Numero Segnalazione</label>
    <input type="text" class="form-control" placeholder="0000">
  </div><br>
  <button type="submit" class="btn btn-primary">Controlla Segnalazione</button>
</form>
</div>






 <!-- Form a destra per effettuare Segnalazione !-->

  <div class="container-right">
    <h3> Effettua una nuova segnalazione! </h3>
  <form action="./segnalazioni.html" method="post">
  <div class="form-group">
    <label>Nome di chi effettua la segnalazione</label>
    <input type="text" class="form-control" placeholder="Mario">
  </div>
  <div class="form-group">
    <label>Cognome di chi effettua la segnalazione</label>
    <input type="text" class="form-control" placeholder="Rossi">
  </div>
   <div class="form-group">
    <label>Animale da segnalare</label>
    <input type="text" class="form-control" placeholder="Volpe">
  </div>
   <div class="form-group">
    <label>Luogo dell'avvistamento</label>
    <input type="text" class="form-control" placeholder="indirizzo">
  </div>
   <div class="form-group">
    <label>Data Avvistamento</label>
    <input type="date" id="start" name="trip-start"
       value="yyyy-mm-dd"
       min="2018-01-01" max="2099-01-01">
  </div><br>
  <button type="submit" class="btn btn-primary">Invia Segnalazione</button>
</form>

<!-- pseudocodice 
      if(form is send) prendi il codice generato e stampalo qua sotto a schermo !-->

      if (segnalazione.js. )





</div>

 <footer class="footer bg-light mt-4 p-5">
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut
            aliquip ex ea commodo consequat</p>
    </footer>
</body>
</html>