<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	 crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
	<script src="/assets/js/customScripts.js">
    </script>
    <script src="/assets/js/segnalazioni.js">
	</script>
	<script>
		window.onload = customOnload
	</script>
	<link rel="stylesheet" href="/assets/css/segnalazioni.css">
</head>


<body>

	<!-- NavBar !-->

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand ps-5" href="/"><img width="70%"
                    src="/assets/media/20820a81a70a4bd79f5fa77e1efa5d33.png"></a> </div></nav>


<div class="container-forms">
<!-- Form di sinistra per vedere segnalazione !-->
<div class="container-left">
  <h3> Controlla la tua segnalazione!</h3>
  <div class="form-group">
    <label>Numero Segnalazione</label>
    <input id="num_segnalazione" type="number" class="form-control" placeholder="1">
  </div><br>
  <button type="button" class="btn btn-primary" onclick="get_segnalazione()">Controlla Segnalazione</button>
  <div id="segnalazione_search"></div>
</div>






 <!-- Form a destra per effettuare Segnalazione !-->

  <div class="container-right">
      <div class="card-header bg-transparent border-success"> Effettua una nuova segnalazione! </div>

  <div class="form-group">
    <label>Nome di chi effettua la segnalazione</label>
    <input type="text" class="form-control" placeholder="Mario" id="nome">
  </div>
  <div class="form-group">
    <label>Cognome di chi effettua la segnalazione</label>
    <input type="text" class="form-control" placeholder="Rossi" id="cognome">
  </div>
   <div class="form-group">
    <label>Animale da segnalare</label>
    <input type="text" class="form-control" placeholder="Volpe" id="specie">
  </div>
   <div class="form-group">
    <label>Luogo dell'avvistamento</label>
    <input type="text" class="form-control" placeholder="Indirizzo" id="coordinate"> 
  </div>
   <div class="form-group">
    <label>Data Avvistamento</label>
    <input type="date" id="dataRitrovamento"
       value="yyyy-MM-dd"
       min="2018-01-01" max="2099-01-01">
    <div class="form-group">
        <label>Numero esemplari</label>
        <input type="number" class="form-control" placeholder="2" id="numeroEsemplari">
  </div>
  </div><br>
  <button type="button" class="btn btn-primary" onclick="save_segnalazione()" onclick="showDiv()">Invia Segnalazione</button>
<br>
<div id="code"  style="display:none;" class="container-left" > Codice per seguire la segnalazione è 0001</div>

</div>


<script>
function showDiv() {
   document.getElementById('code').style.display = "block";
}
</script>

</body>
</html>